.dropdown{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    
   
}

.dropdown-title {
    display: flex;
    color: white;
    background-color: #FF6060;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 52px;
    padding-left: 10px;
    font-size: 24px;
    
    
    @media screen and (max-width: 640px) {
        height: 30px;
        
    }
}

.chevron {
    width: 30px;
    margin-right: 10px;
    rotate: 180deg;
    filter: invert(1);
    
}

.rotate {
    transform: rotate(180deg); 
    transition: transform 0.3s ease; 
  }
  

.dropdown-content {
    color: #FF6060;
    background-color: #F6F6F6;
    width: 80%;
    font-size: 20px;
    height: auto;
    min-height: 100px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    }