.description-bloc {
    padding-left: 40px; 

    @media screen and (max-width: 640px) {
        padding-left: 20px;
        
    } 
}

.title {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    @media screen and (max-width: 640px) {
        font-size: 18px;
        
    }
}
.location {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    @media screen and (max-width: 640px) {
        font-size: 14px;
        
    }
}

.tags {
    color: white;
    display: flex;
    gap: 20px;
    font-size: 14px;
    text-align: center;
    @media screen and (max-width: 640px) {
        font-size: 10px;
        
    }
}
.tag {
    background-color: #FF6060;
    width: 115px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 640px) {
        width: 84px;
        height: 25px;
        
    }
}

.dropdown-bloc {
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    @media screen and (max-width: 640px) {
        flex-direction: column;
        
        
    }
}

.dropdown {
    width: 100%;
    
}
