@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin principal-color{
    color: #FF6060;
}

@mixin bg-color{
    background-color: #FF6060;
}