.header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 40px;

    @media screen and (max-width: 640px) {
        padding-left: 10px;
        padding-right: 0px;
        
    }
}

.logokasa {
    padding-top: 20px;
    width: 211px;
}

.logokasa img{
    width: 210px;
    height: 68px;

    @media screen and (max-width: 640px) {
        width: 145px;
        height: 47px;
        
    }
}

.navlink {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 57px;

    @media screen and (max-width: 640px) {
        gap: 26px;
        
    }
}

.link {
    text-decoration: none;
    color: #FF6060;
    font-weight: 500;
    font-size: 24px;
    &:hover {
        text-decoration: underline;
    }
    @media screen and (max-width: 640px) {
        font-size: 12px;
        
    }
}




