.error-containeur {
   @include flex-center;
   height: 500px;
   @media screen and (max-width:640px) {
    height: 300px;
    
   }
}

.error-containeur img {
    @media screen and (max-width: 640px) {
        width: 198px;
        height: 99px;
        
    }
}

.article-containeur {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    @include principal-color;
    font-weight: 500;
    font-size: 36px;
    @media screen and (max-width: 640px) {
        font-size: 18px;
        text-align: center;
        
    }
}

.link-error {
    @include principal-color;
    font-size: 18px;
    padding-bottom: 100px;
    @media screen and (max-width: 640px) {
        font-size: 14px;
        
    }
}