.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
    

    img{
        position: relative;
        top: 15px;
    }
    

}

.footer-txt {
    color: white;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    top: 50px;
    @media screen and (max-width: 640px) {
        font-size: 12px;
        width: 100px;
        top: 30px;
        
    }
    
    
    span:before {
        content: "\00A9";
        margin-right: 4px;
             
    }
}

